:root {
	--lightGreen: #8df8b7;
	--lightBlue: #aebdff;
	--complimentaryBlue: #7B93FF;
	--lightOrange: #ffb454;
	--baseBlack: #0f0c0c;
	--baseWhite: #f7f0f0;
	--headingFont: 'Maitree', serif;
	--bodyFont: 'Montserrat', sans-serif;
}
